:root{

    /* Backgrounds*/
    --background-header: #2B2D31;
    --background-body: #F9FAFB;
    --background-menu: #FFF;
    --background-sidebar: #313338;

    /* text color*/
    --text-color-title: #FFF;
    --text-color: #32363B;
    --text-selected-color: #FFF;
    --text-color-logout: #FF5861;
     
    /*icon color*/
    --icon-color: #FFF;

    /* selected y hover*/
    --background-selected: #082563;
    --background-hover-sidebar: #464646b0;
    --background-hover-profile: #CCCCCC30;
    --background-hover-logout: #FF5861;
    --text-hover-logout: #FFF;
    /* border color*/
    --border-color: #E6E9ED;
    --border-color-logout: #FF5861;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}


body{
    width: 100%;
    height: 100vh;
    background-color: var(--background-body);
}

.header{
    z-index: 200;
    width: 100%;
    background: var(--background-header);
    position: fixed;
    top: 0;
    left: 0;
}

.container__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0.45rem 3rem;
}


.header__icon{
    cursor: pointer;
    width: 1.8rem;
    color: var(--icon-color);
}

.header__title{
    text-transform: uppercase;
    color: var(--text-color-title);
}

.nav__list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .30rem;
    cursor: pointer;
}

.nav__list .header__profile{
    width: 3rem;
    display: block;
    object-fit: cover;
    border-radius: 50%;
}



/* Estilo inicial del dropdown */
.nav__dropdown {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    right: 2rem;
    background-color: var(--background-menu);
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
    width: 220px;
    transition: height 0.4s ease, opacity 0.3s ease;
    opacity: 0;
    padding-bottom: 4px ;
}

.nav__dropdown.open {
    opacity: 1; 
}

/* Estilo de las opciones del dropdown */
.list__dropdown {
    display: flex;
    align-items: center;
    padding: 0.70rem;
    transition: background 0.6s;
}

.list__dropdown:hover {
    background-color: var(--background-hover-profile);
}

.list__dropdown--logout{
    border: 1px solid var(--border-color-logout);

    color: var(--text-color-logout);
    transition: background-color .6s, color .6s;
}
.list__dropdown--logout:hover{
    background-color: var(--background-hover-logout);
    color: var(--text-hover-logout);
}

.list__dropdown--logout .logout{
    color: var(--text-color-logout);
}

.list__dropdown--logout .logout:hover{

    color: var(--text-hover-logout);
}

.list__dropdown--profile{
    cursor: default;
}

.list__dropdown--profile .header__profile{
    margin-right: 10px;

}

.nav__link__dropdown {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.9rem;
    font-weight: 500;
    width: 100%;
}

.nav__link__dropdown .dropdown__icon {
    max-width: 20px;
    object-fit: cover;
}

.link__name {
    white-space: nowrap;
    text-transform: capitalize;
}

.line__dropdown{
    display: block;
    width: 90%;
    margin: 0 auto;
    height: 1px;
    border: 1px solid #CCCCCC40;
}

/* SIDEBAR */
.sidebar{
    margin-top: 3rem;
    width: 21.875rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 1.1rem 0.90rem 0.2rem;
    overflow-y: auto;
    background-color: var(--background-sidebar);
    transition: width .6s ease-in-out;
}

.sidebar.menu__toggle{
    width: 4rem;
}

.sidebar .sidebar__img{
    width: 1.6rem;
}

.sidebar .nav__link{
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding: 0.9rem 0.25rem;
    text-decoration: none;
    /* margin: 0 0.5rem; */
    border-radius: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    color: var(--text-color);
    text-transform: capitalize;
    width: 95%;
    cursor: pointer;
    position: relative;
    color: var(--text-color-title);
}

.sidebar .nav__link .title{
    color: var(--text-color-title);
    text-transform: uppercase;
}

.sidebar .nav__link:hover{
    background-color: var(--background-hover-sidebar);
}

.sidebar .nav__link .right{
    margin-left: 110px;
}
.sidebar .nav__link.selected{
    color: var(--text-selected-color);
    background-color: var(--background-selected);
}


.main{
    margin-top: 4rem;
    margin-left: 21.875rem;
    padding: 2rem;
    transition: margin-left .6s ease-in-out;
}

.main.main__toggle{
    margin-left: 4rem;
}

footer{
    background-color: var(--background-header);
    color: var(--text-color-title);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: right;
    padding: 0.23rem 1.75rem 0.23rem 0;
}


/* Media query */
@media screen and (max-width: 500px) {
    .sidebar{
        width: 0;
    }
    
    .main{
        margin-left: 0;
    }

    .main.main__toggle{
        margin-left: 0;
    }
}
