:root{
    /* Background */
    --background-body: #F4F4F9;
    --background-container: #FFF;
    --background-buttom-submit: #082563;
    /*Color text */
    --color-placeholder: #CCC;
    --color-text: #000;
    /*color border*/
    --color-border: #D2D4D7;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: var(--background-body);
    display: grid;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 500px;
    height: 380px;
    margin: 0 auto;
    padding: 10px 25px 18px 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 250px;
    background: var(--background-container);
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.25), -1px -1px 5px 0 rgba(0, 0, 0, 0.25);
}

.container__form{
    width: 400px;
    height: 168px;
}

.form__title{
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    margin-top: 10px;
}


.form__description {
    font-size: 14px;
    color: var(--color-text);
    margin: 22px 0;
    line-height: 1.5;
}

.container__input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 388px;
    height: 48px;
    position: relative;
    margin-top: 35px;
    margin-bottom: 33px;
}

.form__label{
    align-self: flex-start;
    font-size: 14px;
    margin-bottom: 6px;
}

.input__full{
    width: 100%;
    border-radius: 9px;
    outline: none;
    border: 1px solid var(--color-border);
    padding: 12px 50px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.input__full::placeholder{
    color: #ccc;
}

.container__input--submit{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 388px;
    height: 48px;
    position: relative;
}

.input__full--submit{
    cursor: pointer;
    background: var(--background-buttom-submit);
    color: var(--background-container);
    font-weight: 500;
}

.input__icon{
    position: absolute;
    top:25px;
    left: 12px;
    display: block;
    max-width: 24px;
    cursor: pointer;
    color: #CCC;
}

.input__icon--submit{
    position: absolute;
    top: 12px;
    left: 15px;
    cursor: pointer;
}

.form__link{
    display: block;
    color: var(--background-buttom-submit);
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    width: max-content;
    margin: -15px auto;
} 